# Teaching Pandas with Jupyter Notebook

### 1. Importing Pandas

In [ ]:
import pandas as pd

### 2. Reading an Excel File

In [ ]:
# Read the Excel file into a DataFrame
file_path_excel = 'path_to_your_file.xlsx'
data_excel = pd.read_excel(file_path_excel)
# Display the first few rows of the DataFrame
data_excel.head()

### 3. Reading a CSV File

In [ ]:
# Read the CSV file into a DataFrame
file_path_csv = 'path_to_your_file.csv'
data_csv = pd.read_csv(file_path_csv)
# Display the first few rows of the DataFrame
data_csv.head()

### 4. Viewing DataFrame Information

In [ ]:
# Display information about the DataFrame
data_csv.info()

### 5. Viewing DataFrame Summary Statistics

In [ ]:
# Display summary statistics for the DataFrame
data_csv.describe()

### Slicing DataFrame Rows

In [ ]:
titanic_data[10:20]

### loc[] - Label-based Indexing

In [ ]:
titanic_data.loc[titanic_data['Age'] > 50, ['Name', 'Age']]

### iloc[] - Position-based Indexing

In [ ]:
titanic_data.iloc[10:20, 1:3]

### Filtering with Multiple Conditions

In [ ]:
titanic_data[(titanic_data['Age'] > 30) & (titanic_data['Pclass'] == 1)]

### mean() - Calculating Mean

In [ ]:
titanic_data['Age'].mean()

### median() - Calculating Median

In [ ]:
titanic_data['Age'].median()

### std() - Calculating Standard Deviation

In [ ]:
titanic_data['Age'].std()

### nunique() - Counting Unique Values

In [ ]:
titanic_data['Embarked'].nunique()

### rename() - Renaming DataFrame Columns

In [ ]:
titanic_data.rename(columns={'Pclass': 'Passenger Class'})

### drop() - Dropping DataFrame Columns

In [ ]:
titanic_data.drop(columns=['column_name'])

### 6. Selecting Columns

In [ ]:
# Select a single column
data_csv['column_name']

# Select multiple columns
data_csv[['column_name1', 'column_name2']]

### 7. Slicing DataFrame Rows

In [ ]:
# Select rows from index 10 to 19
data_csv[10:20]

### 8. loc[] - Label-based Indexing

In [ ]:
# Select rows where 'Age' is greater than 50 and display the 'Name' and 'Age' columns
data_csv.loc[data_csv['Age'] > 50, ['Name', 'Age']]

### 9. iloc[] - Position-based Indexing

In [ ]:
# Select rows from index 10 to 19 and columns from index 1 to 2
data_csv.iloc[10:20, 1:3]

### 10. Filtering with Multiple Conditions

In [ ]:
# Select rows where 'Age' is greater than 30 and 'Pclass' is 1
data_csv[(data_csv['Age'] > 30) & (data_csv['Pclass'] == 1)]

### 21. dropna() - Dropping Missing Values

In [ ]:
# Drop rows with any missing values
data_csv.dropna()

# Drop columns with any missing values
data_csv.dropna(axis=1)

### 22. fillna() - Filling Missing Values

In [ ]:
# Fill missing values with a specified value
data_csv.fillna(0)

# Fill missing values with the mean of the column
data_csv['Age'].fillna(data_csv['Age'].mean(), inplace=True)

### 23. value_counts() - Counting Unique Values

In [ ]:
# Count unique values in a column
data_csv['Embarked'].value_counts()

### 24. groupby() - Grouping Data

In [ ]:
# Group data by a column and calculate the mean
data_csv.groupby('Pclass')['Age'].mean()

# Group data by multiple columns and calculate the sum
data_csv.groupby(['Pclass', 'Sex'])['Fare'].sum()

### 25. apply() - Applying a Function to DataFrame Elements

In [ ]:
# Define a function to increase age by 1
def add_one(x):
    return x + 1

# Apply the function to the 'Age' column
data_csv['Age'] = data_csv['Age'].apply(add_one)

### 26. map() - Mapping Values

In [ ]:
# Create a mapping dictionary
sex_mapping = {'male': 0, 'female': 1}

# Map the values in the 'Sex' column
data_csv['Sex'] = data_csv['Sex'].map(sex_mapping)

### 27. sort_values() - Sorting Data

In [ ]:
# Sort data by 'Age'
data_csv.sort_values(by='Age')

# Sort data by 'Age' in descending order
data_csv.sort_values(by='Age', ascending=False)

### 28. pivot_table() - Creating a Pivot Table

In [ ]:
# Create a pivot table
pivot_table = data_csv.pivot_table(index='Pclass', columns='Sex', values='Age', aggfunc='mean')
pivot_table

### 29. merge() - Merging DataFrames

In [ ]:
# Merge two DataFrames
merged_data = pd.merge(data_csv, another_dataframe, on='common_column')
merged_data.head()

### 30. concat() - Concatenating DataFrames

In [ ]:
# Concatenate two DataFrames
concatenated_data = pd.concat([data_csv, another_dataframe])
concatenated_data.head()