
# Further Exploration of the Titanic Dataset with Pandas

This notebook continues the exploration of the Titanic dataset, demonstrating 10 additional Pandas functions, each with an explanation and example.

In [ ]:

import pandas as pd
titanic_data = pd.read_csv('titanic.csv')

## 11. Slicing DataFrame Rows

In [ ]:
titanic_data[10:20]

## 12. loc[] - Label-based Indexing

In [ ]:
titanic_data.loc[titanic_data['Age'] > 50, ['Name', 'Age']]

## 13. iloc[] - Position-based Indexing

In [ ]:
titanic_data.iloc[10:20, 1:3]

## 14. Filtering with Multiple Conditions

In [ ]:
titanic_data[(titanic_data['Age'] > 30) & (titanic_data['Pclass'] == 1)]

## 15. mean() - Calculating Mean

In [ ]:
titanic_data['Age'].mean()

## 16. median() - Calculating Median

In [ ]:
titanic_data['Age'].median()

## 17. std() - Calculating Standard Deviation

In [ ]:
titanic_data['Age'].std()

## 18. nunique() - Counting Unique Values

In [ ]:
titanic_data['Embarked'].nunique()

## 19. rename() - Renaming DataFrame Columns

In [ ]:
titanic_data.rename(columns={'Pclass': 'Passenger Class'})

## 20. drop() - Dropping DataFrame Columns

In [ ]:
titanic_data.drop('Cabin', axis=1)