## 5. Value Counts (value_counts)

In [ ]:
titanic_data['Survived']

## 6. Unique Values (unique)

In [ ]:
titanic_data['Embarked'].unique()

## 7. Grouping Data (groupby)

In [ ]:
titanic_data.groupby('Pclass')['Survived'].mean()

## 8. Sorting Values (sort_values)

In [ ]:
titanic_data.sort_values(by='Age')

## 9. Selecting Specific Columns

In [ ]:
titanic_data[['Name', 'Age', 'Survived']]

## 10. Filtering Rows Based on Condition

In [ ]:
titanic_data[titanic_data['Age'] > 50]