# Pandas Training Notebook with Titanic Data

## Introduction to Pandas


Welcome to the Pandas training notebook. In this notebook, you will learn the basics of the Pandas library for data manipulation and analysis using the Titanic dataset. Follow the instructions and answer the questions to practice your Pandas skills.

## 1. Importing Pandas


### Instruction:
Import the pandas library as pd. This is the first step before you can start using pandas.

### Question:
How do you import the pandas library with the alias `pd`?

## 2. Reading Data


### Instruction:
Pandas can read data from various file formats like CSV, Excel, and SQL databases. You will start by reading a CSV file.

### Question:
Write the command to read a CSV file named `titanic.csv` into a DataFrame called `titanic_data`.

## 3. Viewing Data


### Instruction:
Once you have loaded data into a DataFrame, it's important to get a sense of what the data looks like.

### Question:
How do you display the first 5 rows of the DataFrame `titanic_data`?

## 4. Data Information


### Instruction:
Getting an overview of your DataFrame's structure and summary statistics is crucial.

### Question:
What command would you use to get a concise summary of the DataFrame `titanic_data`, including the number of non-null entries in each column?

## 5. Selecting Data


### Instruction:
You often need to select specific rows and columns from your DataFrame.

### Question:
How do you select the `Age` column from the DataFrame `titanic_data`?

## 6. Filtering Data


### Instruction:
Filtering allows you to subset the data based on conditions.

### Question:
How do you filter the DataFrame `titanic_data` to include only rows where the `Age` column is greater than 30?

## 7. Data Aggregation


### Instruction:
Aggregation methods are used to compute summary statistics.

### Question:
How do you calculate the mean of the `Fare` column in the DataFrame `titanic_data`?

## 8. Handling Missing Data


### Instruction:
Handling missing data is a common task in data analysis.

### Question:
How do you drop all rows from the DataFrame `titanic_data` that contain any missing values?

## 9. Grouping Data


### Instruction:
Grouping data is useful for performing operations on subsets of your data.

### Question:
How do you group the DataFrame `titanic_data` by the `Pclass` column and calculate the average fare for each class?

## 10. Merging DataFrames


### Instruction:
Merging is used to combine multiple DataFrames into a single one.

### Question:
Write the command to merge  `titanic_data` with itself on the `PassengerId` column.