# Seaborn Training Notebook with Titanic Data

## Introduction to Seaborn

Welcome to the Seaborn training notebook. In this notebook, you will learn the basics of the Seaborn library for data visualization using the Titanic dataset. Follow the instructions and answer the questions to practice your Seaborn skills.

## 1. Importing Seaborn

### Instruction:
Import the Seaborn library as sns. This is the first step before you can start using Seaborn.

### Question:
How do you import the Seaborn library with the alias `sns`?

In [ ]:
# Your code here

## 2. Load the Titanic dataset

### Instruction:
Load the Titanic dataset from Seaborn's built-in datasets.

### Question:
How do you load the Titanic dataset using Seaborn?

In [ ]:
# Your code here

## 3. Display the first 5 rows of the dataset

### Instruction:
Display the first 5 rows of the Titanic dataset.

### Question:
How do you display the first 5 rows of the dataset?

In [ ]:
# Your code here

## 4. Basic scatter plot

### Instruction:
Create a scatter plot showing the relationship between `age` and `fare`.

### Question:
How do you create a scatter plot for `age` and `fare` using Seaborn?

In [ ]:
# Your code here

## 5. Distribution plot

### Instruction:
Create a distribution plot for the `age` column.

### Question:
How do you create a distribution plot for the `age` column using Seaborn?

In [ ]:
# Your code here

## 6. Count plot

### Instruction:
Create a count plot showing the number of passengers for each class.

### Question:
How do you create a count plot for the `class` column using Seaborn?

In [ ]:
# Your code here

## 7. Box plot

### Instruction:
Create a box plot showing the distribution of `fare` for each class.

### Question:
How do you create a box plot for the `fare` column grouped by `class`?

In [ ]:
# Your code here

## 8. Heatmap of correlations

### Instruction:
Create a heatmap showing the correlation matrix of the dataset.

### Question:
How do you create a heatmap for the correlation matrix of the Titanic dataset?

In [ ]:
# Your code here

## 9. Facet grid

### Instruction:
Create a facet grid of histograms for `age`, separated by `sex`.

### Question:
How do you create a facet grid of histograms for `age`, separated by `sex`?

In [ ]:
# Your code here

## 10. Pair plot

### Instruction:
Create a pair plot of the dataset, focusing on `age`, `fare`, and `survived`.

### Question:
How do you create a pair plot for the specified columns?

In [ ]:
# Your code here